/*-----GOOGLE FONTS-----*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap');

.navbar-toggler{
    color: black;
    border-color: black;
}

.navbar-light .navbar-toggler {
    color: black;
    border-color: black;
}

.landing-page-title {
    padding: 5px;
    display: inline-block;
    color: #87ceeb;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.title {
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-left: 5px;
    
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-nav li a {
    padding: 20px 25px 15px 25px;
    color: transparent;
}

.navbar-fixed-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}


.navbar-brand {
    float: left;
}

/*-----JUMBOTRON-----*/
.jumbotron {
    border-radius: 0;
    margin: 0;
    width: 100%;
    padding: 0;
}

#landing-view {
    background-image: url('../images/background/3eb_glory_shrunk.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 1;
    border-radius: none;
    padding: 0;
}

/*-----TOUR DATES-----*/
.tour-head{
    padding-left: 25px;
}

.navbar-toggler span {
    color: white;
}

#tour-dates {
    color: white;
    padding-top: 50px;
    background-color: black;
    width: 100%;
    overflow-x: scroll;
    
}

.tour-head {
    padding-left: 25px;
}

.table {
    color: white;
    text-align: left;
    padding: 0 px;
}


#photos {
    padding-top: 50px;
    margin: 0 auto;

}

#booking-form {
    background-image: url('../images/background/Stephan_Jenkins_shrunk.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 1;
    border-radius: none;
    padding-top: 50px;
}

#music {
    padding-top: 50px;
}

.nav-link {
    color: #87ceeb;
}

#booking-form {
    color: white;
}

.fa-bars {
    color: #87ceeb;
 }

/*-- change navbar dropdown color --*/
.navbar-light .navbar-nav .active, .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #87ceeb !important;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
}
/*-- change border box for navbar dropdown --*/
.navbar-light .navbar-toggler {
    color: #87ceeb;
    border-color: #87ceeb;
}

.btn .btn-light {
    color: #000;
}

.carousel-indicators {
    color: black;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: #000;
  }
  
  .carousel .carousel-indicators .active {
    background-color: #87ceeb;
  }



  @media (max-width: 575px) {
    .carousel-container {
        display: none;
    }
    .landing-page-title{
        font-size: 12px;
    }
    #booking-form{
        background-image: none;
        background-color: #fff;
        color: #000;
    }
}

.photos {
    justify-content: center;
}

.cal {
    padding-left: 5px;
}

.page-footer{
    display:flex;
  }
  
  .page-footer ul{
    justify-content:center;
    text-align:center;
  }
  
  .page-footer ul li{
    display:inline-block;
   }

.fab fa-apple {
    color: #87ceeb;
}

.form {
    padding-top: 25px;
}

.btn btn-light .submit{
    float: right;
}

